/* Header Style */
.header {
    max-height: 1440px;
    width: 100%;
    height: 750px;
    background-image: url("../images/agirba.background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 58% 42% 0% 100% / 90% 0% 100% 10%;
}
.h-box-top {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
}
.nav {
    display: flex;
}
.logo {
    max-width: 75px;
    width: 100%;
    height: 30px;
    background-color: #121212;
    display: flex;
    align-items: center;
}
.logo a {
    margin: 0 auto;
    color: #fff;
    font-weight: bold;
}
.li a {
    color: black;
    font-weight: bold;
    margin-right: 25px;
}
.burger {
    display: none;
}
.h-box-bottom {
    max-width: 670px;
    width: 100%;
    margin: 190px auto;
    text-align: center;
}
.h-box-bottom h2 {
    font-size: 60px;
    font-style: bold;
    color: #948f8f;
}
.h-box-bottom p {
    font-size: 18px;
    margin: 12px 0 26px;
    color: #948f8f;
}
.blue-box {
    width: 190px;
    height: 52px;
    background-color: #1005FF;
    border-radius: 30px;
    margin: 0 auto;
}
.blue-box p {
    padding: 15px;
}
/* Section 1 Style */
.s-1 {
    max-width: 1440px;
    width: 100%;
    background-color: #707070;
    padding-top: 120px;
    padding-bottom: 120px;
}
.s1-general {
    max-width: 1170px;
    width: 80%;
    height: 427px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.s1-left {
    background-color: #707070;
    max-width: 478px;
    width: 100%;
    height: 500px;
    margin-right: 100px;
    margin-bottom: 150px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.s1-photo {
    border-radius: 20px;
    margin: 20px;
    max-width: 140px;
    width: 100%;
    height: 170px;
    background-color: #121212;
}
.s1-photo img {
    max-width: 140px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 20px 20px 50px black;
}
.s1-right {
    background-color: #948f8f;
    max-width: 478px;
    width: 100%;
    height: 315px;
    border-radius: 20px;
}
.aboutus {
    max-width: 478px;
    width: 80%;
    padding: 50px;
}
.s1-right h2 {
    font-size: 25px;
    font-weight: bold;
}
.s1-right h4 {
    font-size: 18px;
    margin: 20px 0;
}
.s1-right p {
    font-size: 14px;
}



/* Section 2 style */
.s-2 {
    max-width: 1440px;
    width: 100%;
    background-image: url(../images/s-2.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 80px;
}
.s2-head {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
}
.s2-head h2 {
    font-size: 33px;
    color: #fff;
}
.s2-head i {
    color: #F4F4F4;
}
.s2-bottom  {
    margin: 39px auto;
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.shop-1 {
    margin: 0 auto;
    width: 530px;
    height: 582px;
    background-color: #F4F4F4;
}
.shop-1-img img {
    max-width: 550px;
    max-width: 100%;
    height: 480px;
    object-fit: cover;
    padding-top: 30px;
    padding-left: 50px;
}
.shop-2-img img {
    max-width: 230px;
    width: 100%;
    height: 230px;
    object-fit: cover;
    padding-top: 10px;
    padding-left: 30px;
}
.name-price {
    padding: 10px;
}
.small-shop-box {
    width: 270px;
    height: 276px;
    background-color: #F4F4F4;
}
.shop-box-left {
    margin-right: 30px;
}
.shop-box-right {
    display: flex;
    flex-wrap: wrap;
}
.small-shop-box:nth-child(1),
.small-shop-box:nth-child(3) {
    margin-right: 30px;
}
.small-shop-box:nth-child(1),
.small-shop-box:nth-child(2) {
    margin-bottom: 30px;
}

/*  Pseudo classes */
.price-text {
    color: #1005FF;
    font-size: 16px;
}
.price {
    color: #666666;
    font-size: 15px;
}
.name-price-1 {
    padding: 30px 50px;
}


/* Section 3 style */
.s-3 {
    max-width: 1440px;
    width: 100%;
    background-image: url(../images/s-3-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 80px;
}
.s3-head {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
}
.s3-head h2 {
    font-size: 33px;
    color: #fff;
}
.s3-head i {
    color: #F4F4F4;
}
.s3-bottom  {
    margin: 39px auto;
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.shop-1-3 {
    margin: 0 auto;
    width: 530px;
    height: 582px;
    background-color: #F4F4F4;
}
.shop-1-3-img img {
    max-width: 550px;
    max-width: 100%;
    height: 480px;
    object-fit: cover;
    padding-top: 30px;
    padding-left: 50px;
}
.shop-2-3-img img {
    max-width: 230px;
    width: 100%;
    height: 230px;
    object-fit: cover;
    padding-top: 10px;
    padding-left: 30px;
}
.name-price {
    padding: 10px;
}
.small-shop-box {
    width: 270px;
    height: 276px;
    background-color: #F4F4F4;
}
.shop-box-left {
    margin-right: 30px;
}
.shop-box-right {
    display: flex;
    flex-wrap: wrap;
}
.small-shop-box:nth-child(1),
.small-shop-box:nth-child(3) {
    margin-right: 30px;
}
.small-shop-box:nth-child(1),
.small-shop-box:nth-child(2) {
    margin-bottom: 30px;
}

/*  Pseudo classes */
.price-text {
    color: #1005FF;
    font-size: 16px;
}
.name-price-1 {
    padding: 30px 50px;
}
.price {
    color: #666666;
    font-size: 15px;
}



/* section 4 style */
.s-4 {
    display: flex;
    justify-content: space-between;
    background-color: #e7e8e8;
    max-width: 1440px;
    width: 100%;
    padding: 100px;
}
.colection-2 {
    margin: 0 50px;
}
.colection-div1 img {
    max-width: 400px;
    width: 100%; 
}
.colection-div2 img {
    max-width: 400px;
    width: 100%;
}
.colection-div3 img {
    max-width: 400px;
    width: 100%;
}
.colection-1 p, 
.colection-2 p, 
.colection-3 p {
    font-weight: bold;
    margin-bottom: 10px;
}


/* Footer style */
.f-container {
    max-width: 1051px;
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 101px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.footer {
    max-width: 1440px;
    width: 100%;
    background-color: black;
    padding-bottom: 15px;
}
.f-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.f-block:nth-child(1) {
    width: 260px;
}

.fa-brands {
    font-size: 30px;
    margin-top: 20px;
}
.fa-instagram {
    color: red;
}
.fa-facebook {
    color: blue;
    margin-right: 15px;
}
.f-block p {
    margin-top: 22px;
}
.u-li {
    margin-top: 21px;
}
.u-li li {
    margin-bottom: 11px;
}
.u-li li:nth-child(4) {
    margin-bottom: 0px;
}
.c-li li:nth-child(2) {
    margin: 21px 0;
}
.c-li li:nth-child(3) {
    margin-bottom: 21px;
}
.fa-envelope,
.fa-phone,
.fa-location-dot {
    color: #F4F4F4;
}
.bexo {
    max-width: 1051px;
    width: 80%;
    margin: 50px auto;
    color: #F4F4F4;
}
.bold-white {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
}
.semi-bold {
    max-width: 150px;
    width: 100%;
    color: #fff;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.blue-text {
    color: #5863F8;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.f-block p {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}


/* Contact style */
.contact {
    max-height: 1440px;
    width: 100%;
    background-color: #707070;
    height: 450px;
}
.contact-page {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contact-text h2 {
    font-size: 18px;
    color: blue;
}
.contact-p1 {
    color: black;
    font-size: 32px;
}
.contact-p {
    max-width: 800px;
    width: 70%;
    font-size: 20px;
    margin-top: 50px;
    color: #e0e1e2;
}
.right-contact-div h2 {
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}
.right-contact-div a {
    color: #e0e1e2;
    font-size: 14px;
}
.right-contact-div h3 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.right-contact-div p {
    color: #e0e1e2;
    font-size: 14px;
}
.input {
    margin-top: 50px;
    border: none;
    max-width: 352px;
    width: 100%;
    height: 30px;
}
.button {
    max-width: 70px;
    width: 100%;
    height: 30px;
}
.input:focus {
    outline: none;
}

/* Responsive */
@media (max-width: 1200px) {
    .s2-bottom {
        max-width: 1100px;
        width: 80%;
        margin: 39px auto;
        flex-wrap: wrap;
    }
    .s2-head {
        max-width: 1100px;
        width: 80%;
        margin: 0 auto;
    }
    .shop-box-left {
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .shop-box-right {
        max-width: 1000px;
        width: 90%;
        margin: 0 auto;
    }
    .small-shop-box {
        width: 50%;
    }
    .small-shop-box:nth-child(3) {
        margin-bottom: 30px;
    }
    .s3-bottom {
        max-width: 1100px;
        width: 80%;
        margin: 39px auto;
        flex-wrap: wrap;
    }
    .s3-head {
        max-width: 1100px;
        width: 80%;
        margin: 0 auto;
    }
    .f-block {
        width: 300px;
        margin-top: 50px;
    }
    .s1-general {
        height: 100%;
    }
    .s1-left {
        align-items: center;
    }
    .contact {
        height: 100%;
        align-items: center;
    }
    .right-contact-div {
        margin-top: 50px;
    }
    .s1-photo {
        margin-bottom: 50px;
    }
    .s1-right {
        height: 100%;
    }
}


@media (max-width: 950px) {
    .nav {
        display: none;
    }
    .burger {
        display: block;
    }
    .h-box-top a {
        margin-right: 50px;
    }
    .s1-left {
        margin-top: 50px;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .logo {
        margin-right: 100px;
    }
    .h-box-bottom {
        width: 80%;
    }
    .s1-general {
        align-items: center;
    }
    .s-4 {
        flex-direction: column;
        align-items: center;
    }
    .colection-2 {
        margin: 50px;
    } 
}

@media (max-width: 480px) {
    
    .f-block {
        width: 80%;
    }
    .f-block:nth-child(4) {
        margin-top: 40px;
    }
    .f-container {
        text-align: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .footer p {
        text-align: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-left: 0;
    }
}
